<div id="form_submit">
  <form action="/new_question/<%= @survey.id%>" method="POST">
    <textarea name="question[body]" placeholder="Pregunta!"></textarea><br>
    <input class="chulada_btn" type="submit" value="Preguntar">
  <end>
</div>
<div id="clear"></div>