<div id="div_hide" >
  <fieldset id="form_submit">
    <legend class="fieldset_legend" ><strong>Editar Encuesta</strong></legend>
    <form action="/survey/<%= @survey.id %>" method="POST" >
      <input type="hidden" name="_method" value="PUT">
      Nombre:<br>
      <input type="text"      name="survey[name]"><br>
      <input  class="chulada_btn" type="submit" value="Editame!">    
    </form>
    <form action="/survey/<%= @survey.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input  class="chulada_btn" type="submit" value="Borrar!">
    </form>
  </fieldset>
</div>
<div id="clear"></div>