<div>
  <strong><%= @survey.name %></strong>
  <ul>
  <% @questions.each do |q| %>
    <li><%= q.body %></li>
    <% answers = q.answers %>
      <ul>
        <% answers.each do |a| %>
        <li><%= a.body %></li>
        <% end %>
      </ul>
  <br>
  <br>      
  <% end %>
  </ul>
</div>
<div id="clear"></div>

<input class="chulada_btn" type="button" value="Add a question" class="add" id="add" />
<div id="clear"></div>
  <fieldset id="add_field">
      <legend>Añade una Pregunta!</legend>
  </fieldset>
<div id="clear"></div>
<p>
  Renombrar encuesta
  <strong id="show"> Mostrar </strong>
  <strong id="hide"></strong>Formulario
</p>
<br>
<%= erb :'survey/_edit', :layout => false %>