<p>
  <strong><%= @answer.body %></strong>
</p>
<br>
<p>
  Editar respuesta(
  <strong id="show"> Mostrar </strong>
  <strong id="hide"></strong>Formulario )
</p>
<%= erb :'answer/_edit', :layout => false %>
<div id="clear"></div>