<% if logged_in? %>
  Usuario:<%= current_user.name %><br><br>
  <p>
    <a href="/new_survey">Crear Encuesta</a>
  <p>
    Encuestas realizadas
    <strong id="show"> Mostrar </strong>
    <strong id="hide"></strong>
  </p>
  <%= erb :'survey/_show_all', :layout => false%>
<% else %>
  <h4> Inicia Sesión para crear encuestas </h4>
<% end %>